<!DOCTYPE html>
<html>
    <head>
         {{!-- <p>This is the Static page </p> --}}
         <title>About</title>
         <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class='resume' src="/image/photo.jpg" alt="Description of the image">
        </div>
        {{>footer}}
    </body>
</html>