<!DOCTYPE html>
<html>
    <head>
         {{!-- <p>This is the Static page </p> --}}
         <title>Help</title>
         <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
     <div class="main-content">
         {{>header}}
         <P>If you want any help and want to give any feedback. Please scan this code and send the message.</P>
        <img class='help' src="/image/help.png" alt="Description of the image">
     </div>
        
         {{>footer}}
    </body>
</html>