<!DOCTYPE html>
<html>
    <head>
         {{!-- <p>This is the Static page </p> --}}
         <title>Help</title>
         <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
     <div class="main-content">
         {{>header}}
     </div>
        
         {{>footer}}
    </body>
</html>